.goBack {
  padding-right: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.address {
  text-decoration: underline;
  font-weight: 400;
  padding-right: 7px;
}
.address:hover {
  color: rgb(103, 103, 218);
}
